# 서버 설정
AUTODCS_PORT=9316
AUTODCS_KEY=your-secret-key-here

# PWA 설정
PORT=8080

# 구글 애널리틱스 설정
GA_PROPERTY_ID=your-ga-property-id
GA_API_SECRET=your-ga-api-secret
GA_KEY_FILE_PATH=./path-to-your-service-account-key.json

# 기타 설정
NODE_ENV=development 